---
import { navbarIcons } from "../../constants/navbar-icons.constant";
import NavbarIcon from "./NavbarIcon.astro";
---

<nav class="px-3 py-2">
  <div class="container">
    <div class="flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        {
          navbarIcons.map(({ href, icon, text }) => (
            <li>
              <NavbarIcon href={href} icon={icon} text={text} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<style>
  .text-small {
    font-size: 85%;
  }
</style>
