---
import Paragraph from "../components/Paragraph.astro";
import TechnologyDisplay from "../components/TechnologyDisplay.astro";
import { technologies } from "../constants/technologies.constant";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About me 👋">
  <div class="text-secondary text-center px-3 py-3">
    <div class="py-5">
      <Paragraph title="Moi et mon expérience" divider={true}>
        <p class="fs-5 mt-5 text-white">
          Bonjour 👋 Je m'appelle Maxence et je suis un passionné d'informatique. Ayant fait mes
          débuts dans le développement web en avril 2020, je suis aujourd'hui à la recherche d'un
          travail dans le domaine du développement web/backend. Mon plus haut diplôme actuel est un
          Bachelor Concepteur Développeur d'Applications obtenu à l'écolé CESI de Reims, en
          alternance avec la startup AgriVitech.
        </p>
        <p class="fs-5 mt-5 text-white">
          Par le passé, j'ai effectué deux stages en entreprise. Le premier, d'une durée de 6
          semaines, s'est passé en mairie où mon objectif était de créer une solution web PPMS. Le
          deuxième, d'une durée de 5 semaines, s'est passé en distanciel pour une startup chinoise
          où j'ai participé à la conception de leur site Web, plus particulièrement leur côté
          Backend.
        </p>
        <p class="fs-5 mt-5 mb-5 text-white">
          J'ai travaillé sur plusieurs projets académiques/personnels/professionnels. Certains sont
          accessibles sur mon profil
          <a
            class="text-decoration-none text-decoration-underline text-warning"
            href="https://github.com/mqxewww"
            target="_blank">GitHub</a
          >.
        </p>
      </Paragraph>
      <Paragraph title="Mes compétences" divider={true}>
        <p class="fs-5 mt-5 text-white">
          Les technologies parmi la liste ci-dessous sont celles que je connais et ai déjà utilisées
          dans certains projets.
        </p>
        <div class="fs-5 mt-5 mb-5">
          {
            technologies.map((group) => (
              <div>
                {group.map((technology) => (
                  <TechnologyDisplay technology={technology} />
                ))}
              </div>
            ))
          }
        </div>
      </Paragraph>
      <Paragraph title="Mes passions" divider={false}>
        <p class="fs-5 mt-5 text-white">
          En dehors de la programmation, j'aime aussi les jeux vidéos. Les dernières années, j'ai
          beaucoup joué à des FPS comme Player Unknown's Battlegrounds, Apex Legends et CSGO. Plus
          récemment, je suis addict aux jeux Fromsoftwares (Trilogie Dark Souls, Elden Ring, ...).
          J'ai Platine Dark Souls Remastered & III ainsi qu'Elden Ring. Je suis également un
          <a
            class="text-decoration-none text-decoration-underline text-warning"
            href="https://www.speedrun.com/fr-FR/users/mqxewww"
            target="_blank">speedrunner</a
          > débutant de Dark Souls III depuis peu.
        </p>
      </Paragraph>
    </div>
  </div>
</MainLayout>
