---
import Layout from "~layouts/Layout.astro";
---

<Layout page="Accueil" description="Portfolio de Maxence 'mqxewww' NOIZET, développeur web.">
  <div class="opacity-0 animate-fadeIn text-center space-y-8 lg:space-y-20">
    <div class="space-y-4 text-4xl lg:text-7xl">
      <p>Bonjour <span class="waving-hand">👋</span></p>
      <p>Je m'appelle <span class="text-yellow-400">Maxence</span>.</p>
    </div>
    <div class="space-y-4 text-lg lg:text-2xl">
      <p>
        Développeur français de 22 ans et diplômé d'un bachelor
        <span class="text-yellow-400">Concepteur Développeur d'Applications</span>, je suis
        passionné par le développement web et backend.
      </p>
      <p>
        Parcourez mon portfolio pour en savoir plus sur moi, ainsi que sur les projets auxquels j'ai
        participé. Contact : <span class="text-yellow-400">noizetmaxence@pm.me</span>
      </p>
    </div>
  </div>
</Layout>
<style>
  .waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
