---
import Layout from "~layouts/Layout.astro";
---

<Layout title="Accueil">
  <div class="opacity-0 animate-fadeIn text-center space-y-8 lg:space-y-20">
    <div class="space-y-4 text-4xl lg:text-7xl">
      <p>Bonjour 👋</p>
      <p>Je m'appelle <span class="text-yellow-400">Maxence</span>.</p>
    </div>
    <div class="space-y-4 text-lg lg:text-2xl">
      <p>
        Développeur français de 22 ans et diplômé d'un bachelor
        <span class="text-yellow-400">Concepteur Développeur d'Applications</span>
        , je suis passionné par le développement web et backend.
      </p>
      <p>
        Parcourez mon portfolio pour en savoir plus sur moi, ainsi que sur les projets auxquels j'ai
        participé. Contact : <span class="text-yellow-400">noizetmaxence@pm.me</span>
      </p>
    </div>
  </div>
</Layout>
