---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { technologies } from "~constants/technologies";
import Layout from "~layouts/Layout.astro";

const svgs = import.meta.glob<{ default: ImageMetadata }>("/src/assets/svgs/*.svg");
---

<Layout title="Infos">
  <div class="space-y-8 lg:space-y-20 pb-8 lg:pb-20 text-justify lg:text-xl">
    <div class="space-y-4">
      <h1 class="text-yellow-400 text-center text-3xl lg:text-6xl">Moi et mon expérience</h1>
      <p>
        Je m'appelle Maxence, je suis un passionné d'informatique et développeur depuis avril 2020.
        Mon plus haut diplôme actuel est un Bachelor Concepteur Développeur d'Applications, effectué
        en alternance.
      </p>
      <p>
        Par le passé, j'ai effectué deux stages en entreprise.<br />
        · <span class="underline underline-offset-4">Le premier</span> d'une durée de 6 semaines, s'est
        passé en mairie. Mon objectif était de créer une application web type PPMS.<br />
        · <span class="underline underline-offset-4">Le second</span> d'une durée de 5 semaines, s'est
        passé en distanciel pour une startup chinoise. J'ai participé à la conception de leur site Web,
        plus particulièrement leur application Backend.
      </p>
      <p>
        J'ai travaillé sur plusieurs projets académiques, personnels, et professionnels. Certains
        sont accessibles sur mon profil <a
          href="https://github.com/mqxewww"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span
            class="underline underline-offset-4 hover:text-yellow-400 transition-colors duration-500 ease-in-out"
          >
            GitHub</span
          >.
        </a>
      </p>
    </div>
    <div class="space-y-4">
      <h1 class="text-yellow-400 text-center text-3xl lg:text-6xl">Ma stack et +</h1>
      <p class="text-center">
        Les technologies parmi la liste ci-dessous sont celles que je connais et ai déjà utilisées
        dans certains projets.
      </p>
      <div class="space-y-2">
        {
          technologies.map((group) => (
            <div class="flex justify-center space-x-2">
              {group.map((tech) => (
                <a href={tech.href} target="_blank" rel="noopener noreferrer">
                  <Image
                    src={svgs[`/src/assets/svgs/${tech.name}.svg`]()}
                    alt={tech.name}
                    height={40}
                    loading="eager"
                  />
                </a>
              ))}
            </div>
          ))
        }
      </div>
    </div>
    <div class="space-y-4">
      <h1 class="text-yellow-400 text-center text-3xl lg:text-6xl">Mes passions</h1>
      <p>
        En dehors de la programmation, j'aime aussi les jeux vidéos. Ces dernières années, j'ai
        beaucoup joué à des FPS comme Player Unknown's Battlegrounds, Apex Legends et CSGO. Plus
        récemment, je suis addict aux jeux Fromsoftwares (Trilogie Dark Souls, Elden Ring, ...). Je
        suis un
        <a href="https://www.speedrun.com/users/mqxewww" target="_blank" rel="noopener noreferrer">
          <span
            class="underline underline-offset-4 hover:text-yellow-400 transition-colors duration-500 ease-in-out"
          >
            speedruner de Dark Souls III</span
          >,
        </a>
        et participe à beaucoup de
        <a href="https://www.twitch.tv/mqxewww" target="_blank" rel="noopener noreferrer">
          <span
            class="underline underline-offset-4 hover:text-yellow-400 transition-colors duration-500 ease-in-out"
          >
            challenges en ligne sur Elden Ring</span
          >.
        </a>
      </p>
    </div>
  </div>
</Layout>
