---
import NavbarLink from "~components/Navbar/NavbarLink.astro";

// assets
import HomeSVG from "~assets/svgs/home.svg";
import InfoSVG from "~assets/svgs/info.svg";
import ProjectSVG from "~assets/svgs/project.svg";
---

<nav class="py-8 lg:py-16">
  <div class="flex justify-center space-x-12">
    <NavbarLink href="/">
      <HomeSVG class="h-6 lg:h-8" />
      <p>Accueil</p>
    </NavbarLink>
    <NavbarLink href="/info">
      <InfoSVG class="h-6 lg:h-8" />
      <p>Infos</p>
    </NavbarLink>
    <NavbarLink href="/projects">
      <ProjectSVG class="h-6 lg:h-8" />
      <p>Projets</p>
    </NavbarLink>
  </div>
</nav>
