---
interface Props {
  color: string;
  href: string;
  text: string;
}

const { color, href, text } = Astro.props;
---

<a href={href} class={`btn btn-outline-${color} btn-lg px-5`} role="button">
  {text}
</a>
