---
// assets
import GitHubSVG from "~assets/svgs/github.svg";
---

<footer class="space-y-2 py-4">
  <div class="flex justify-center space-x-6">
    <a
      class="text-gray-500 hover:text-white transition-colors duration-500 ease-in-out"
      href="https://github.com/mqxewww"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Lien vers mon profil GitHub."
    >
      <GitHubSVG class="h-8 lg:h-12" fill="currentColor" />
    </a>
  </div>
  <div class="space-y-1 text-xs lg:text-base text-center text-gray-300">
    <p>© Maxence 'mqxewww' NOIZET 2024</p>
    <p>
      Contenu sous copyright.
      <a
        class="hover:text-yellow-400 transition-colors duration-700 ease-in-out"
        href="https://github.com/mqxewww/portfolio"
        target="_blank"
        rel="noopener noreferrer"
      >
        Code disponible sous licence MIT.
      </a>
    </p>
  </div>
</footer>
