---
import NavbarItem from "./NavbarItem.astro";
---

<nav class="py-8 lg:py-16">
  <div class="flex justify-center space-x-12">
    <NavbarItem href="/">
      <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="currentColor">
        <path
          d="M 25 1.0507812 C 24.7825 1.0507812 24.565859 1.1197656 24.380859 1.2597656 L 1.3808594 19.210938 C 0.95085938 19.550938 0.8709375 20.179141 1.2109375 20.619141 C 1.5509375 21.049141 2.1791406 21.129062 2.6191406 20.789062 L 4 19.710938 L 4 46 C 4 46.55 4.45 47 5 47 L 19 47 L 19 29 L 31 29 L 31 47 L 45 47 C 45.55 47 46 46.55 46 46 L 46 19.710938 L 47.380859 20.789062 C 47.570859 20.929063 47.78 21 48 21 C 48.3 21 48.589063 20.869141 48.789062 20.619141 C 49.129063 20.179141 49.049141 19.550938 48.619141 19.210938 L 25.619141 1.2597656 C 25.434141 1.1197656 25.2175 1.0507812 25 1.0507812 z M 35 5 L 35 6.0507812 L 41 10.730469 L 41 5 L 35 5 z"
        ></path>
      </svg>
      <p>Accueil</p>
    </NavbarItem>
    <NavbarItem href="/info">
      <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" fill="currentColor">
        <path
          d="M144 80c0 26.5-21.5 48-48 48s-48-21.5-48-48s21.5-48 48-48s48 21.5 48 48zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z"
        >
        </path>
      </svg>
      <p>Infos</p>
    </NavbarItem>
    <NavbarItem href="/projects">
      <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M6.5,24H3a3,3,0,0,1-3-3V17.5H6.5Z"></path>
        <path d="M21,24H17.5V17.5H24V21A3,3,0,0,1,21,24Z"></path>
        <rect y="8.75" width="6.5" height="6.5"></rect>
        <rect x="17.5" y="8.75" width="6.5" height="6.5"></rect>
        <path d="M6.5,6.5H0V3A3,3,0,0,1,3,0H6.5Z"></path>
        <rect x="8.75" y="17.5" width="6.5" height="6.5"></rect>
        <rect x="8.75" y="8.75" width="6.5" height="6.5"></rect>
        <rect x="8.75" width="6.5" height="6.5"></rect>
        <path d="M24,6.5H17.5V0H21a3,3,0,0,1,3,3Z"></path>
      </svg>
      <p>Projets</p>
    </NavbarItem>
  </div>
</nav>
