---
interface Props {
  href: string;
}

const { href } = Astro.props;

const normalizePath = (path: string) => path.replace(/\/+$/, "");
const ariaCurrent = normalizePath(Astro.url.pathname) === normalizePath(href) ? "page" : "false";
---

<a
  class="aria-[current=page]:text-yellow-400 flex flex-col items-center hover:text-yellow-200 transition-colors duration-500 ease-in-out"
  href={href}
  aria-current={ariaCurrent}
>
  <slot />
</a>
