---
import type { IProject } from "../constants/projects.constant";
import displayNameHelper from "../helpers/display-name.helper";

interface Props {
  project: IProject;
}

const { project } = Astro.props;
---

<div class="col">
  <div
    class="card card-cover card-body h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
    style="background-image: url('/images/project-background.jpg');"
  >
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
      <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
        {displayNameHelper(project.name)}
      </h3>
      <ul class="d-flex list-unstyled mt-auto">
        <li class="d-flex align-items-center me-auto">
          <img src="/svgs/calendar.svg" class="bi me-2" height="24" />
          <small>{project.date}</small>
        </li>
        <li>
          {
            project.icons.map((icon) => (
              <img src={`/svgs/${icon}.svg`} class="mr-3 ml-3" height="32" />
            ))
          }
        </li>
      </ul>
    </div>
    <!-- <a href={`/projects/${project.name}`} class="stretched-link"></a> -->
  </div>
</div>

<style>
  img {
    margin-left: 5px;
    margin-right: 5px;
  }

  .text-shadow-1 {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  }

  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
</style>
