---
import type { ITechnology } from "../constants/technologies.constant";

interface Props {
  technology: ITechnology;
}

const { technology } = Astro.props;
---

<a class="text-decoration-none" href={technology.href} target="_blank">
  <img height="40" src={`/svgs/${technology.icon}.svg`} alt={technology.icon} />
</a>

<style>
  img {
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
  }
</style>
