---
import Project from "../../components/Project.astro";
import { projects } from "../../constants/projects.constant";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Projects 📦">
  <div class="text-secondary px-3 py-3">
    <div class="py-5">
      <h1 class="display-6 mt-3 fw-bold text-center text-warning">
        Mes projets ({projects.length})
      </h1>
      <div class="col-lg-12 mx-auto text-center">
        <p class="fs-5 mt-5">
          Vous trouverez ci-dessous un aperçu des projets sur lequels j'ai pu travailler, regroupant
          mes projets académiques, mes projets lors de stage, et les projets lors d'expériences
          professionnelles.
        </p>
      </div>
      <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        {projects.map((project) => <Project project={project} />)}
      </div>
    </div>
  </div>
</MainLayout>
