---
import { ViewTransitions } from "astro:transitions";
import Footer from "~components/Footer.astro";
import Navbar from "~components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
    />
    <meta name="generator" content={Astro.generator} />
    <title>mqxewww · {title}</title>
    <ViewTransitions />
  </head>
  <body class="h-screen flex flex-col justify-between mx-4 lg:mx-60 bg-slate-950 text-white">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Montserrat", sans-serif;
  }
</style>
