---
import Footer from "./Footer.astro";
import Navbar from "./Navbar/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/89202276?v=4" />
    <link rel="stylesheet" href="/css/base.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} ${title && "·"} mqxewww's portfolio`}</title>
  </head>
  <body>
    <div class="container mt-5">
      <Navbar />
      <slot />
      {Astro.url.pathname !== "/" && <Footer />}
    </div>
  </body>
</html>
